html {
  height: 100%;
  scroll-behavior: smooth;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.image.is-256xauto {
  height: 256px;
  width: 100%;
}

.image.is-128xauto {
  height: 128px;
  width: 100%;
}

.has-bg-cover {
  height: 100%;
  object-fit: cover;
}

.has-bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.has-bg-image.is-parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.a2a_svg,
.a2a_count {
  border-radius: 0 !important;
}
